.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 14rem /* 224px */;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 3rem /* 40px */;
	margin-inline: 1rem;
	max-width: 72rem /* 1152px */;
	padding-inline: 1rem;
}

.heroImage {
	display: none;
	z-index: 1;
}

.image {
	width: 12rem;
	height: 12rem;
}

.top {
	display: flex;
	justify-content: space-between;
}

.cardLayout {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 2rem;
}

.card {
	justify-content: center;
}

.heading2 {
	font-size: 2rem;
	line-height: 2rem;
	padding-bottom: 2rem;
	margin-top: 2rem;
}

.sectionWrapper {
	margin-top: 5rem;
}

.footer {
	margin-block: 7rem 1rem;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
	.container {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;
	}

	.main {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem /* 48px */;
		padding-left: 1.5rem /* 24px */;
		padding-right: 1.5rem /* 24px */;
	}
	.cardLayout {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.heroImage {
		display: flex;
	}
}

@media (min-width: 768px) {
	.container {
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}

	.main {
		margin-top: 4rem /* 64px */;
	}

	.heroImage {
		right: 20%;
	}

	.cardLayout {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 960px) {
	.container {
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}
	.main {
		margin-top: 5rem /* 80px */;
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
	}
	.heroImage {
		right: 20%;
	}
	.image {
		width: 15rem;
		height: 15rem;
	}
	.cardLayout {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1280px) {
	.main {
		margin-top: 7rem /* 112px */;
	}

	.cardLayout {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
